.top-menu {
  z-index: 5;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center; }
  .top-menu.color ul li a {
    position: relative;
    border: 1px solid #000000; }
    .top-menu.color ul li a.active {
      position: relative;
      background: #000000; }
      .top-menu.color ul li a.active:not(:first-child) {
        margin-top: 50px;
        margin-bottom: 10px; }
        .top-menu.color ul li a.active:not(:first-child):before {
          display: block;
          position: absolute;
          content: '';
          width: 9px;
          height: 35px;
          top: -50px;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          background: url("../images/--plus--/pag-arrow.png") no-repeat center center; }
    .top-menu.color ul li a:hover {
      background: #000000; }
    .top-menu.color ul li a .hover-object div:first-child {
      background-color: #000000; }
    .top-menu.color ul li a .hover-object div:last-child {
      color: #000000; }
  .top-menu:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: ''; }
  .top-menu ul {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 60%; }
    .top-menu ul li {
      position: relative;
      min-height: 30px; }
      .top-menu ul li a {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        text-indent: -9999px;
        background: transparent;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid #ffffff; }
        .top-menu ul li a.active {
          background: #ffffff; }
        .top-menu ul li a:hover {
          background: #ffffff; }
        .top-menu ul li a .hover-object {
          position: absolute;
          left: 100%;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          display: none;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          z-index: 50; }
          .top-menu ul li a .hover-object div:first-child {
            background-color: #ffffff;
            height: 1px;
            width: 30px;
            margin-left: 15px;
            -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                    flex-shrink: 0; }
          .top-menu ul li a .hover-object div:last-child {
            color: #ffffff;
            -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                    flex-shrink: 0;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px;
            margin-left: 15px;
            text-indent: 0; }
        .top-menu ul li a:hover .hover-object {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
      .top-menu ul li span {
        background: #de2e54;
        position: absolute;
        right: 32px;
        top: -7px;
        text-align: center;
        display: none;
        padding: 8px 15px 8px;
        color: #fff;
        white-space: nowrap;
        font-size: 18px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -webkit-box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2);
        box-shadow: 0px 8px 10px 0px rgba(50, 50, 50, 0.2); }
  .top-menu.kollection-menu ul li a {
    color: #000;
    text-indent: inherit;
    border: none; }
    .top-menu.kollection-menu ul li a:hover {
      background: none; }
    .top-menu.kollection-menu ul li a.active {
      background: none; }
    .top-menu.kollection-menu ul li a .hover-object {
      top: 106%; }
      .top-menu.kollection-menu ul li a .hover-object div:first-child {
        background-color: #000 !important; }
      .top-menu.kollection-menu ul li a .hover-object div:last-child {
        color: #000 !important; }

.main-menu-wrapper {
  width: 70%;
  margin-left: 20px; }
  .main-menu-wrapper .main-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    margin: 0;
    padding-left: 0; }
    .main-menu-wrapper .main-menu .arrow {
      margin-left: 9px;
      position: relative;
      width: 5px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      height: 10px;
      display: inline-block;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      margin-bottom: 5px; }
      .main-menu-wrapper .main-menu .arrow::before, .main-menu-wrapper .main-menu .arrow::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 6px;
        top: 50%;
        background-color: #fff; }
      .main-menu-wrapper .main-menu .arrow::before {
        left: 0;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .main-menu-wrapper .main-menu .arrow::after {
        right: 0;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
    .main-menu-wrapper .main-menu > li {
      position: relative;
      padding: 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-menu-wrapper .main-menu > li > a {
        letter-spacing: 2px; }
      .main-menu-wrapper .main-menu > li + li {
        margin-left: 20px; }
      .main-menu-wrapper .main-menu > li:hover .arrow::before {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .main-menu-wrapper .main-menu > li:hover .arrow::after {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
    .main-menu-wrapper .main-menu li {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
      .main-menu-wrapper .main-menu li > a {
        display: block;
        width: 100%;
        height: 30px;
        color: #fff;
        font-weight: 300;
        line-height: 30px;
        text-decoration: none; }
      .main-menu-wrapper .main-menu li:hover .submenu {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        -webkit-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear;
        -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
                transform-origin: left top; }
      .main-menu-wrapper .main-menu li .submenu {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: all .5s linear;
        -o-transition: all .5s linear;
        transition: all .5s linear;
        -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
                transform-origin: left top;
        position: absolute;
        width: 295px;
        top: 100%;
        left: 0;
        background: #222221;
        color: #000;
        list-style: none;
        padding-left: 0;
        z-index: 100; }
        .main-menu-wrapper .main-menu li .submenu li {
          margin: 0;
          padding: 17px 18px; }
          .main-menu-wrapper .main-menu li .submenu li a {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            height: auto;
            line-height: inherit; }
          .main-menu-wrapper .main-menu li .submenu li:hover {
            background-color: #3c3c3c; }
            .main-menu-wrapper .main-menu li .submenu li:hover .submenu {
              -webkit-transform: scale(1);
                  -ms-transform: scale(1);
                      transform: scale(1);
              -webkit-transition: all .5s linear;
              -o-transition: all .5s linear;
              transition: all .5s linear;
              -webkit-transform-origin: left top;
                  -ms-transform-origin: left top;
                      transform-origin: left top; }
          .main-menu-wrapper .main-menu li .submenu li .submenu {
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
            -webkit-transition: all .5s linear;
            -o-transition: all .5s linear;
            transition: all .5s linear;
            -webkit-transform-origin: left top;
                -ms-transform-origin: left top;
                    transform-origin: left top;
            position: absolute;
            top: 0;
            left: 100%;
            min-width: 300px;
            width: auto;
            min-height: 100%;
            list-style: none;
            padding-left: 0;
            z-index: 100; }
            .main-menu-wrapper .main-menu li .submenu li .submenu li {
              padding: 17px 18px; }
              .main-menu-wrapper .main-menu li .submenu li .submenu li a {
                display: block;
                width: 100%;
                color: #fff;
                font-size: 12px;
                font-weight: 300;
                height: auto;
                line-height: inherit; }
      .main-menu-wrapper .main-menu li:last-child .submenu li .submenu {
        left: auto;
        right: 100%; }
