@import "images.sass"
@import 'menu.sass'
@import 'header.sass'

$font-stack: Muller, Arial, sans-serif

.d-block
  display: block!important

.hide
  display: none

.hidden-850
  @media (max-width: 850px)
    display: none!important

.mt-o-1200
  @media (max-width: 1200px)
    margin-top: 0!important

.header-default
  height: auto!important
  min-height: inherit
  .hamburger span::before, .hamburger span::after
    background-color: #000
  @media (max-width: 650px)
    height: auto!important
    background-color: #fff
.devider-90
  margin-top: 90px
  @media (max-width: 650px)
    margin-top: 0

.devider-215
  margin-top: 215px
  @media (max-width: 1200px)
    margin-top: 150px
  @media (max-width: 992px)
    margin-top: 120px
  @media (max-width: 650px)
    margin-top: 0

body
  position: relative
  font-family: $font-stack
  overflow: hidden

  & .left-side-nav
    display: block
    position: fixed
    width: 40px
    height: 100vh
    top: 0
    left: 0
    z-index: 10

    & ul
      display: block
      position: absolute
      list-style: none
      width: 40px
      top: 50%
      left: 0
      padding: 0

      & li
        width: 20px
        height: 20px
        margin: 10px
        & a
          display: block
          width: 20px
          height: 20px
          border-radius: 50%
          border: 1px solid #ffffff
          &.active
            background: rgba(255, 255, 255, 1)

.moddings
  position: relative
  padding: 160px 150px
  z-index: 1
  .moddings-slider
    .modding-block
      display: flex
      justify-content: center
      position: relative

      img
        width: 100%
        height: 100%
      .desc-wrapper
        cursor: pointer
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        transition: all 0.5s ease-out

        .desc-block
          position: absolute
          width: 400px
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          color: #ffffff
          text-align: center
          padding: 0px 25px
          max-width: 400px
          width: 100%
          box-sizing: border-box

          @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)

          .title
            font-size: 40px
            line-height: 30px
            margin-bottom: 30px
            font-weight: 500
          .desc
            font-size: 16px
            line-height: 24px
            margin-bottom: 35px
          & > a
            font-size: 12px
            padding: 19px 46px
            border-radius: 35px
            box-sizing: border-box
            height: 55px

            &::after
              display: inline-block
              top: 50%
              transform: translateY(-60%)

            &:hover
              &::after
                top: 50%
                transform: translateY(-50%) rotate(180deg)
        &:hover
          background: rgba(0, 0, 0, 0.7)
          transition: all 0.5s ease-out
  &:after
    display: block
    position: absolute
    content: ''
    width: 100%
    height: 50%
    bottom: 0
    left: 0
    background: #F5F5F5
    z-index: -1

.matacs
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  position: relative
  -webkit-justify-content: center
  justify-content: center
  align-items: center
  padding: 150px 260px
  z-index: 1
  .ma-wrapper
    position: relative
    height: 650px
    overflow: hidden
    .desc-wrapper
      cursor: pointer
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      transition: all 0.5s ease-out
      .desc-block
        position: absolute
        width: 340px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: #ffffff
        text-align: center
        .title
          font-size: 60px
          font-weight: 500
          margin-bottom: 30px
        .desc
          font-size: 24px
          line-height: 36px
          text-transform: uppercase
          margin-bottom: 35px

        & > a.styled-btn
          font-size: 12px
          padding: 19px 46px
          border-radius: 35px
          box-sizing: border-box
          height: 55px

          &::after
            display: inline-block
            top: 50%
            transform: translateY(-60%)

          &:hover
            &::after
              top: 50%
              transform: translateY(-50%) rotate(180deg)

        @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)
      &:hover
        background: rgba(0, 0, 0, 0.8)
        transition: all 0.5s ease-out
  &:after
    display: block
    position: absolute
    content: ''
    width: 90%
    height: 60%
    bottom: 0
    right: 0
    background: #F5F5F5
    z-index: -1

.repairs
  position: relative
  padding: 220px 190px 0px

  .bg-text
    display: block
    position: absolute
    color: #f5f5f5
    font-size: 170px
    line-height: 170px
    top: 100px
    right: 160px

  .repairs-slider
    @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)

    .slide
      @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)
      text-align: center
      overflow: hidden

      & > a
        border: 1px solid #010101
        color: #010101
        font-size: 12px
        padding: 19px 46px
        border-radius: 35px
        box-sizing: border-box
        height: 55px


        &:hover
          background-color: #010101
          color: #fff
        &::after
          display: inline-block
          top: 50%
          transform: translateY(-60%)
          content: ''
          background: url("../images/--plus--/arrow-bl.png") no-repeat center / contain
          width: 27px
          height: 9px

        &:hover::after
          content: ''
          background-image: url("../images/--plus--/arrow-bl-to-wh2.png")
          top: 50%
          transform: translateY(-50%) rotate(180deg)

    .rep-wrapper
      position: relative
      margin-bottom: 30px
      margin-left: 15px
      margin-right: 15px
      display: flex
      justify-content: center
      max-height: 530px

      img
        max-width: 100%
      //height: 100%

      .desc-wrapper
        cursor: pointer
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0

        .desc-block
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          color: #ffffff
          text-align: center

          .title
            font-size: 50px

.contacts
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  -webkit-justify-content: space-around
  justify-content: space-around
  align-items: center
  position: relative
  padding: 220px 100px 60px 130px
  z-index: 1
  .contacts-wrapper
    margin-top: 128px
    flex-shrink: 0
    max-width: 250px
    .main-title
      color: #222221
      font-size: 36px
      margin-bottom: 15px
      font-weight: 500
    .desc-block
      color: #222221
      font-size: 16px
      margin-bottom: 44px
      .title
        margin-bottom: 15px
      p
        margin-bottom: 15px
      a
        display: block
        color: #222221
        font-size: 16px
        width: 100%
        margin-bottom: 15px
        text-decoration: none
  .map-wrapper
    max-width: 1330px
    width: 100%
    height: 700px
    overflow: hidden
    padding-left: 30px

  &:after
    display: block
    position: absolute
    content: ''
    width: 90%
    height: 52%
    top: 57%
    right: 0
    background: #F5F5F5
    transform: translateY(-50%)
    z-index: -1

.main-footer
  box-sizing: border-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  -webkit-justify-content: space-around
  justify-content: space-between
  -webkit-flex-direction: row
  flex-direction: row
  background: #F5F5F5
  padding: 0 130px
  font-size: 12px
  color: #080808
  text-transform: uppercase
  height: 100px
  & div:first-child
    max-width: inherit
    width: inherit
    padding: 0
  a
    color: #080808
    font-size: 12px
    line-height: 24px
    text-decoration: none
    transition: all 0.3s ease-out
    &:hover
      opacity: 0.8
      transition: all 0.3s ease-out

.overflow
  height: 100vh
  width: 100%
  background-color: #000000
  box-shadow: 0px 94px 104px 33px rgba(0, 0, 0, 0.9)
  position: fixed
  top: 0
  left: 0
  z-index: 999

  &.hidden
    transform: translateY(-200%)
    transition: all 4s ease-in-out

/*Page modding*/

.block-left
  position: absolute
  z-index: 20
  height: 100%
  width: 500px
  background-color: rgba(23, 23, 23, .5)
  color: #fff
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  .desc-block
    max-width: 300px
    width: 100%
    text-align: center
    @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)

    .title
      font-weight: 500
      font-size: 30px
      line-height: 36px
      text-transform: uppercase
      margin-bottom: 35px
    .price
      font-weight: 500
      font-size: 30px
      margin-bottom: 35px

      .currency
        font-size: 18px
        text-transform: uppercase
    & > a
      @extend .reset-a
      margin-bottom: 35px
      min-width: 193px
      font-size: 12px
      padding: 19px 46px
      border-radius: 35px
      box-sizing: border-box
      height: 55px

      &::after
        display: inline-block
        top: 50%
        transform: translateY(-60%)

      &:hover
        &::after
          top: 50%
          transform: translateY(-50%) rotate(180deg)
    .desc
      font-size: 14px
      line-height: 24px
.text
  min-height: 545px
  padding: 90px 200px 75px 200px
  text-align: center
  color: #010101
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)

  .logo-block
    padding-bottom: 50px
  .text-block
    width: 100%
    font-size: 17px
    line-height: 36px
    margin-bottom: 35px

    p.hide
      display: none

  & > a
    min-width: 215px
    @extend .reset-a
    border: 1px solid #010101
    color: #010101
    font-size: 12px
    padding: 19px 46px
    border-radius: 35px
    box-sizing: border-box
    height: 55px
    &:hover
      background-color: #010101
      color: #fff
    &::after
      display: inline-block
      top: 50%
      transform: translateY(-60%)
      content: ''
      background: url("../images/--plus--/arrow-bl.png") no-repeat center / contain
      width: 27px
      height: 9px

    &:hover::after
      content: ''
      background-image: url("../images/--plus--/arrow-bl-to-wh2.png")
      top: 50%
      transform: translateY(-50%) rotate(180deg)
.devices
  padding: 0 60px
  display: flex
  @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)
  &__wrap
    flex-grow: 1
    font-size: 20px
    text-transform: uppercase
    table
      width: 100%
      padding-top: 10px
      tr
        line-height: 40px
        td
          cursor: pointer
          padding-right: 10px
          vertical-align: top
      tr.hidden
        display: none
  &__wrap_mobile
    flex-grow: 1
    display: none
    width: 100%

    ul
      width: 100%
      padding-left: 0
      font-size: 12px
      list-style: none
      text-transform: uppercase
      display: flex
      flex-wrap: wrap
      li
        cursor: pointer
        margin-right: 20px
        line-height: 35px
        &.hidden
          display: none

  &__button
    align-items: flex-start
    padding-left: 40px
    flex-shrink: 0
    display: flex
    a
      @extend .reset-a
      border: 1px solid #010101
      color: #010101
      font-size: 12px
      padding: 19px 46px
      border-radius: 35px
      box-sizing: border-box
      height: 55px
      text-transform: uppercase
      position: relative
      &:hover
        background-color: #010101
        color: #fff
        &::after
          background-color: #ffffff
        &::before
          background-color: #ffffff

      &::after
        position: absolute
        content: ''
        width: 1px
        height: 6px
        top: 48%
        background-color: #000
        right: 26px
        transform: rotate(45deg)
        transition: all .3s ease-in-out

      &::before
        position: absolute
        content: ''
        width: 1px
        height: 6px
        top: 48%
        background-color: #000
        right: 31px
        transform: rotate(-45deg)
        transition: all .3s ease-in-out
      &.open
        &::after
          transform: rotate(-45deg)
          transition: all .3s ease-in-out
        &::before
          transform: rotate(45deg)
          transition: all .3s ease-in-out

@media (max-width: 1600px)
  .devices__wrap
    font-size: 18px
    table tr
      line-height: 35px


@media (max-width: 1440px)
  .devices__wrap
    font-size: 16px

@media (max-width: 1280px)
  .devices__wrap
    font-size: 12px

@media (max-width: 1100px)
  .devices
    &__wrap
      display: none
    &__wrap_mobile
      display: flex

.gallery
  padding: 0 35px 100px 35px
  display: flex
  justify-content: space-between
  flex-wrap: wrap

  .grey-wrap
    background-color: rgba(232, 231, 231, 0.43)
    display: flex
    a
      width: 100%

  .img-wrap
    margin-top: 0!important
    width: 33.3%
    padding: 25px
    box-sizing: border-box
    transition: background 0.5s ease-out
    cursor: pointer
    position: relative

    a
      display: inline-block

    .desc-drop
      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      width: 100%
      height: 100%
      opacity: 0
      transition: all 0.5s ease-out
      padding: 40px
      display: flex
      text-align: center
      align-items: center
      justify-content: center
      flex-direction: column
      box-sizing: border-box
      color: #fff
      z-index: 20

      .title
        width: 100%
        font-weight: 500
        font-size: 25px
        line-height: 36px
        text-transform: uppercase
        margin-bottom: 35px
      .price
        width: 100%
        font-weight: 500
        font-size: 25px
        margin-bottom: 35px
        .currency
          font-size: 18px
          text-transform: uppercase
      .date
        width: 100%
        font-weight: 500
        font-size: 18px
        margin-top: 0

    &::before
      position: absolute
      content: ''
      top: 25px
      bottom: 28px
      left: 25px
      right: 25px
      z-index: 10
      background: rgba(0, 0, 0, 0)

    &:hover
      .desc-drop
        opacity: 1
        transition: all 0.5s ease-out
      &::before
        background: rgba(0, 0, 0, 0.7)
        transition: background 0.5s ease-out
    img
      transition: all .3s ease-in-out

  .all-img
    margin-top: 20px
    text-align: center
    font-size: 18px
    letter-spacing: 3px
    color: #888888
    width: 100%


  &.news
    cursor: default
    overflow: hidden
    .wrap-animation
      display: flex
      margin-top: 0!important
    img
      height: 100%
    .description
      position: relative
      z-index: 5
    .desc-drop
      //opacity: 1
    .img-wrap
      &::before
        content: none
      a
        position: relative
        cursor: pointer
        z-index: 4
      a:hover
        img
          transform: scale(1.05)

    .description
      color: #000000
      font-size: 14px
      margin-top: 30px
      text-align: center
      padding: 0 50px
      @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)

      & > a
        @extend .reset-a
        border: 1px solid #010101
        color: #010101
        font-size: 12px
        padding: 19px 46px
        border-radius: 35px
        box-sizing: border-box
        height: 55px
        &:hover
          background-color: #010101
          color: #fff
        &::after
          display: inline-block
          top: 50%
          transform: translateY(-60%)
          content: ''
          background: url("../images/--plus--/arrow-bl.png") no-repeat center / contain
          width: 27px
          height: 9px

        &:hover::after
          content: ''
          background-image: url("../images/--plus--/arrow-bl-to-wh2.png")
          top: 50%
          transform: translateY(-50%) rotate(180deg)

  div:last-child
    margin: 35px auto 0 auto
    text-align: center
    @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)

    & > a
      @extend .reset-a
      margin-top: 30px
      border: 1px solid #010101
      color: #010101
      font-size: 12px
      padding: 19px 46px
      border-radius: 35px
      box-sizing: border-box
      height: 55px
      &:hover
        background-color: #010101
        color: #fff
      &::after
        display: inline-block
        top: 50%
        transform: translateY(-60%)
        content: ''
        background: url("../images/--plus--/arrow-bl.png") no-repeat center / contain
        width: 27px
        height: 9px

      &:hover::after
        content: ''
        background-image: url("../images/--plus--/arrow-bl-to-wh2.png")
        top: 50%
        transform: translateY(-50%) rotate(180deg)

  img
    object-fit: cover
    width: 100%
    max-height: 100%

.add-more
  a
    min-width: 218px

.preload
  display: none
  width: 100%
  text-align: center
  text-transform: uppercase
  span
    cursor: pointer
  .icon-preload
    display: inline-block
    position: relative
    bottom: -8px
    margin-left: 10px
    width: 30px
    height: 26px
    background: url("../images/--plus--/preload.png") no-repeat center / contain
    transition: all .45s ease-in-out
  &:hover .icon-preload
    transform: rotate(360deg)
    transition: all .45s ease-in-out

// Carousel

#wrapper_bu
  img
    width: 100%
    height: 100%
    object-fit: cover

.holder_bu_center
  z-index: 2
  position: absolute
  top: 3%
  left: 2%
  width: 70%
  height: 94%
  background-color: transparent
  transition: width .5s, height .5s, top .5s, left .5s
  &.big
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 999


.holder_bu_awayR1
  z-index: 1
  position: absolute
  top: 11%
  left: 59%
  width: 23%
  bottom: 11%
  background-color: transparent
  transition: width .5s, height .5s, top .5s, left .5s


.holder_bu_awayR2
  z-index: 0
  position: absolute
  top: 23%
  left: 75%
  width: 16%
  height: 58%
  background-color: transparent
  transition: width .5s, height .5s, top .5s, left .5s

.holder_bu_none
  z-index: 0
  position: absolute
  top: 23%
  left: 75%
  width: 16%
  height: 58%
  opacity: 0
  background-color: transparent
  transition: width .5s, height .5s, top .5s, left .5s

.close-slide
  display: none
  position: absolute
  left: 70px
  top: 50px
  width: 40px
  height: 40px
  cursor: pointer
  background: url("../images/--plus--/icon_close.png") no-repeat center / contain
  &.show
    display: block
    z-index: 1000

.arrow-mob
  display: none
  position: absolute
  right: 20px
  top: 50%
  transform: translateY(-50%)
  cursor: pointer
  width: 37px
  height: 25px
  background: url("../images/--plus--/arrow-right-wh.png") no-repeat center / contain


// Kollection

body.night
  .section-right, .section-left
    .text-block
      .title, .price
        &::before
          background: #ffffff
      .price
        .right
          & > a
            color: #ffffff
            border-color: #ffffff
            &::after
              background: none
              top: 45%
              content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDM1IDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTM1IDVoLTM1IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJtNiAwbC02IDUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Im02IDlsLTYtNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+")
            &:hover
              background: #fff
              color: #222
              &::after
                background: none
                top: 58%
                content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDM1IDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTE2IDVoLTE2IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBkPSJtNiAwbC02IDUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxwYXRoIGQ9Im02IDlsLTYtNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PHBhdGggZD0ibTM1IDVoLTE5IiBmaWxsPSJub25lIiBzdHJva2U9IiMxZTFlMWMiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=")
.section-right, .section-left
  margin: 0 auto
  display: flex
  justify-content: center
  align-content: center
  box-sizing: border-box
  @media (min-width: 320px)
    margin-bottom: 80px
    max-width: 500px
    width: 100%
  @media (min-width: 480px)
    padding:  0 20px
  @media (min-width: 850px)
    max-width: none
    margin-bottom: 20px
  @media (min-width: 1440px)
    padding:  0 70px
    max-width: 1780px

  .text-block, .img-block
    width: 50%
    text-align: center
    @media (max-width: 850px)
      width: 100%
  .text-block
    overflow: hidden
    //padding: 0 100px
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @media (max-width: 1440px)
      //padding: 0px 60px
    @media (max-width: 1200px)
      //padding: 0 15px
    .title
      font-size: 40px
      font-weight: 500
      letter-spacing: 0.9px
      text-transform: uppercase
      margin-bottom: 25px
      width: 100%
      padding: 0 130px
      box-sizing: border-box
      @media (max-width: 1650px)
        padding: 0 100px
      @media (max-width: 1440px)
        font-size: 30px
      @media (max-width: 1200px)
        font-size: 24px
        margin-bottom: 20px
      @media (max-width: 990px)
        font-size: 18px
        padding: 0 75px
      @media (max-width: 480px)
        padding: 0 45px
      .quot
        position: relative
        top: -3px
    .content
      width: 100%
      font-size: 17px
      line-height: 30px
      margin-bottom: 35px
      padding: 0 100px
      box-sizing: border-box
      @media (max-width: 1440px)
        font-size: 15px
        padding: 0px 60px
      @media (max-width: 1200px)
        font-size: 14px
        padding: 0 15px
        margin-bottom: 20px
      @media (max-width: 990px)
        font-size: 12px
    .price
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      padding: 0 130px
      box-sizing: border-box
      @media (max-width: 1650px)
        padding: 0 100px

      .left
        font-size: 35px
        letter-spacing: 0.9px
        font-weight: 500
        & + .right
          margin-left: 60px
          @media (max-width: 1440px)
            margin-left: 25px
          @media (max-width: 768px)
            margin-left: 15px
        @media (max-width: 1200px)
          font-size: 30px
        @media (max-width: 1200px)
          font-size: 24px
        @media (max-width: 990px)
          font-size: 18px
      .right
        @include place-arrow(0, 0.9em 2em 0.9em 0.9em, 0.9em, 0.7em, 1em)
        & + .left
          margin-left: 60px
          @media (max-width: 1440px)
            margin-left: 25px
          @media (max-width: 768px)
            margin-left: 15px
        & > a
          margin-top: 0
          min-width: 215px
          text-transform: uppercase
          @extend .reset-a
          border: 1px solid #010101
          color: #010101
          font-size: 12px
          padding: 19px 46px
          border-radius: 35px
          box-sizing: border-box
          height: 55px
          @media (max-width: 375px)
            padding-left: 39px
            padding-right: 39px
          &:hover
            background-color: #010101
            color: #fff
          &::after
            display: inline-block
            top: 50%
            transform: translateY(-60%)
            content: ''
            background: url("../images/--plus--/arrow-bl.png") no-repeat center / contain
            width: 27px
            height: 9px

          &:hover::after
            content: ''
            background-image: url("../images/--plus--/arrow-bl-to-wh2.png")
            top: 50%
            transform: translateY(-50%) rotate(180deg)
          @media (max-width: 375px)
            min-width: 165px

  .img-block
    position: relative
    .back
      position: absolute
      top: 100%
      z-index: -1
      height: 170%
      @media (min-width: 1200px)
        height: 153%
    .phone
      position: relative
      z-index: 1
      height: 350px
      @media (min-width: 990px)
        height: 400px
      @media (min-width: 1200px)
        height: 550px

.section-left
  .title, .price
    position: relative
    &::before
      content: ''
      position: absolute
      top: 50%
      height: 1px
      background-color: #000
      right: -300px
      left: 85%
      transform: translateY(-50%)
      @media (max-width: 1650px)
        left: 90%
      @media (max-width: 1440px)
        left: 85%
      @media (max-width: 480px)
        left: 91%
  .text-block
    .price
      @media (max-width: 1440px)
        margin-right: auto
        justify-content: flex-start
        padding-left: 15px
        padding-right: 75px
      @media (max-width: 480px)
        padding-right: 45px

  .img-block
    @media (min-width: 1440px)
      text-align: right
    .phone
      position: relative
      right: 150px
      @media (max-width: 1440px)
        right: 72px
      @media (max-width: 1200px)
        right: 0
    .back
      transform: translateX(50%) translateY(-50%)
      right: 174px
      @media (max-width: 1200px)
        right: 130px
      @media (max-width: 990px)
        right: 110px
      @media (max-width: 480px)
        right: 31%
  @media (max-width: 850px)
    flex-direction: column
.swicher-block
  padding: 13px 70px
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: center
  position: fixed
  right: 0
  bottom: 35px
  z-index: 20
  //&.mobile
  //  display: none
  //  position: fixed
  //  right: 0
  //  bottom: 35px
  //  z-index: 20
  //@media (max-width: 850px)
  //  display: none
  //  &.mobile
  //    display: flex
  //    justify-content: flex-end
  //    margin-bottom: 50px
  //    padding: 0 10px
  //    .title
  //      width: auto
  //      margin: 0
  //      font-size: 12px
  //      padding: 0
  //    .swither
  //      width: 50px
  //      height: 18px
  //      .switcher-hand
  //        width: 25px
  //        height: 25px

  .title
    font-size: 16px
    line-height: 30px
    letter-spacing: 0.25px
    color: #000000
    text-transform: uppercase
    &::before
      content: none!important

  .swither
    border-radius: 10px
    margin-left: 20px
    display: inline-block
    height: 20px
    width: 60px
    position: relative
    background-color: #888888
    cursor: pointer
    z-index: 5
    .switcher-hand
      position: absolute
      height: 33px
      width: 33px
      border-radius: 50%
      background-color: black
      top: 50%
      transform: translateY(-50%)
      left: 0
      right: auto
  &.night
    .title
      color: #fff
    .swither
      background-color: #779dd4
      .switcher-hand
        left: auto
        right: 0
        background-color: #4b78bb
  @media (max-width: 992px)
    padding: 10px
    bottom: 10px
    .title
      font-size: 12px
      width: auto
      padding: 0
    .swither
      width: 50px
      height: 18px
      .switcher-hand
        width: 25px
        height: 25px
.section-right
  .title, .price
    position: relative
    &::before
      content: ''
      position: absolute
      top: 50%
      height: 1px
      background-color: #000
      left: -300px
      right: 85%
      transform: translateY(-50%)
      @media (max-width: 1650px)
        right: 90%
      @media (max-width: 1440px)
        right: 85%
      @media (max-width: 480px)
        right: 91%
  .text-block
    .price
      @media (max-width: 1440px)
        justify-content: flex-end
        padding-right: 15px
        margin-left: auto
        padding-left: 75px
      @media (max-width: 480px)
        padding-left: 45px

  .img-block
    @media (min-width: 1440px)
      text-align: left
    .phone
      position: relative
      left: 150px
      @media (max-width: 1440px)
        left: 72px
      @media (max-width: 1200px)
        left: 0
    .back
      transform: translateX(-50%) translateY(-50%)
      left: 174px
      @media (max-width: 1200px)
        left: 130px
      @media (max-width: 990px)
        left: 110px
      @media (max-width: 480px)
        left: 31%
  @media (max-width: 850px)
    flex-direction: column-reverse

.product-header
  height: calc( 100vh - 200px )
  flex-wrap: wrap
  @media (max-width: 850px)
    height: auto
  &.section-right
    .img-block
      @media (max-width: 850px)
        height: 410px
      .phone
        position: absolute
        top: 50%
        transform: translateY(-50%)
        @media (max-width: 1440px)
          left: 150px
        @media (max-width: 480px)
          left: 15%

      .back
        height: 400px
        top: 58%
        left: 71px
        transform: translateY(-50%)
        @media (max-width: 1200px)
          height: 300px
          top: 54%
        @media (max-width: 992px)
          height: 260px
        @media (max-width: 850px)
          height: 260px
          top: 57%
          position: absolute
          left: 83px
        @media (max-width: 375px)
          left: 34px

body.night
  .characteristics
    background: #000000
    &__button
      a
        border-color: #ffffff
        color: #ffffff
        &::after, &::before
          background-color: #ffffff
        &:hover
          background-color: #ffffff
          color: #000000
          &::after, &::before
            background-color: #000000


.characteristics
  position: relative
  z-index: 2
  background-color: #fff
  text-align: center
  padding: 0 70px 60px 70px
  font-size: 14px
  line-height: 18px
  @media (max-width: 1200px)
    padding: 0 20px 50px 20px
  &__button
    align-items: center
    justify-content: center
    flex-shrink: 0
    display: flex
    a
      @extend .reset-a
      border: 1px solid #010101
      min-width: 265px
      letter-spacing: 2px
      color: #010101
      font-size: 12px
      padding: 19px 40px
      border-radius: 35px
      box-sizing: border-box
      height: 55px
      text-transform: uppercase
      position: relative
      &:hover
        background-color: #010101
        color: #fff
        &::after
          background-color: #ffffff
        &::before
          background-color: #ffffff

      &::after
        position: absolute
        content: ''
        width: 1px
        height: 6px
        top: 48%
        background-color: #000
        right: 26px
        transform: rotate(45deg)
        transition: all .3s ease-in-out

      &::before
        position: absolute
        content: ''
        width: 1px
        height: 6px
        top: 48%
        background-color: #000
        right: 31px
        transform: rotate(-45deg)
        transition: all .3s ease-in-out
      &.open
        &::after
          transform: rotate(-45deg)
          transition: all .3s ease-in-out
        &::before
          transform: rotate(45deg)
          transition: all .3s ease-in-out
  &__content
    padding-top: 50px
    text-align: left
    display: none
    ul
      list-style: none
      padding-left: 0


/* Pagination */

.pagination
  display: flex
  justify-content: flex-end
  padding-right: 55px
  margin-bottom: 20px
  ul
    display: flex
    list-style: none
    a
      text-decoration: none
    li
      height: 33px
      width: 33px
      display: flex
      align-items: center
      justify-content: center
      font-size: 16px
      border: 1px solid transparent
      border-radius: 50%
      margin: 0 2px
      a
        color: #222221
      &.active
        color: #7b7b7b
        border-color: #7b7b7b
        &:hover
          color: #ffffff
          background-color: #222221
          border-color: #222221

      &:hover
        color: #7b7b7b
        border-color: #7b7b7b
  @media (max-width: 650px)
    justify-content: center
    padding-left: 0
